.ant-carousel .slick-slide {
    text-align: center;
    height: 100px;
    line-height: 100px;
    background: #262626;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}
.musicRankTitle{
    position: relative;
    white-space: nowrap;
}
.musicRankTitlePic
{
    width: 200px;
    height: 200px;
    background-image: url("../../img/GOTPath_ZH-CN1955635212_1920x1080.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.musicRankTitle h2{
    position:absolute;
}
.title01{
    top: 20px;
    left: 240px;
    font-family: "Microsoft YaHei";
}
.title02{
    left:240px;
    top: 80px;
    font-family: "Microsoft YaHei";
}

.horseLight{
    border-top: gray 1px solid;
    width: 1000px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: url(../../img/GOTPath_ZH-CN1955635212_1920x1080.jpg);
    background-attachment: fixed;
    background-color: #000;
}
.first{
    padding: 10px;
    height: 100px;
    background-image: url(../../img/GOTPath_ZH-CN1955635212_1920x1080.jpg);
}
.second{
    padding: 10px;
    height: 100px;
    background-image: url(../../img/GOTPath_ZH-CN1955635212_1920x1080.jpg);
}
.third {
    padding: 10px;
    height: 100px;
    background-image: url(../../img/GOTPath_ZH-CN1955635212_1920x1080.jpg);
}

.forth{
    padding: 10px;
    height: 100px;
    background-image: url(../../img/GOTPath_ZH-CN1955635212_1920x1080.jpg);

}
h4{
    color: white;
}
.songContent{
    background: white;
    width: 500px;
    height: 720px;
    position: absolute;
    top: 60px;
    left: 1300px;
    border-left: gray 1px solid;
    overflow-y:auto
}
.topIcon img{
    width: 80px;
    position: absolute;
    top:30px;
    left: 740px;
}
.topIcon{

}
.topnum{
    position: absolute;
    top: 20px;
    left:820px;
    font-size: 40px;
    font-family: Georgia ;
    font-weight: bolder;
    color: rgb(207,91,57);
}
