.layout{
    background-image: url(../../img/GOTPath_ZH-CN1955635212_1920x1080.jpg);
}
#intro {
    display: table;
    width: 1920px;
    height: auto;
    padding: 100px 0;
    /*text-align: center;*/
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../img/GOTPath_ZH-CN1955635212_1920x1080.jpg);
    background-attachment: fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#intro {
    background-size: cover;
}

#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
#intro .intro-body H1 {
    font-size: 76px;
    font-weight: 700;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
}
#intro .intro-body .brand-heading {
    color: #E75926;
    text-shadow: 0 4px #a13e1a;
}
#intro .intro-body .intro-text {
    margin:50px;
    font-size: 18px;
}

@media(min-width:768px) {
    #intro {
        height: 100%;
        padding: 0;
    }
    #intro .intro-body .intro-text {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 100px;
        color: rgba(255,255,255,0.9);
    }
}
