.songCard01{
    width: 1000px;
    height: 100px;
    border-bottom: gray 1px solid;
    padding: 13px;
    font-size: 18px;
    background-color: whitesmoke;
}
.songCard02{
    width: 1000px;
    height: 100px;
    border-bottom: gray 1px solid;
    padding: 13px;
    font-size: 18px;
}
span{
    margin: 20px;
}
.time{
    float: right;
}
.artist{
    float: right;
}
a{
    text-decoration: none;
    color:inherit;
}
.moreIcon{
    margin-top: 18px;
}
.branchIcon{
    margin-top: 18px;
}
.blingIcon{
    margin-top: 18px;
}
.urlIcon{
    margin-top: 18px;
}
.classOne{
    background-color: whitesmoke;
}
.rankNumber{
    font-family: Georgia ;
}
.classList{
    font-size:18px;
    margin: 18px;
}
.alist{
    float: left;
    color:gray;
}
