.btnArea{
    height: 80px;
    margin-left: 20px;
    margin: 30px;
    border-bottom: gray 1px solid;
}
a{
    float: right;
}
.welcomeArea{
    float: left;
    font-size: 30px;
    margin-left: 40px;
}
.web .ant-modal-content {
    border: 0;
    border-radius: 4px;
    background-clip: padding-box;
}
.web .ant-modal-body {
    font-size: 20px !important;
    line-height: 1 !important;
}

